<app-header></app-header>

<app-menu></app-menu>

<ng-container *transloco="let t">
  <po-page-default [p-title]="t('pages.dashboard')">
    <div class="items">
      <a class="item" [routerLink]="['/jobs']">
        {{ t('dashboard.qtyVacancy', { qty: countVacancy }) }}
      </a>
      <div class="item">
        {{ t('dashboard.qtyCandidates', { qty: countCandidates }) }}
      </div>
    </div>
  </po-page-default>
</ng-container>

<po-loading-overlay *ngIf="showLoading"> </po-loading-overlay>
