.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.video-bg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

app-header ::ng-deep .custom-toolbar {
  display: block;

  ::ng-deep .po-toolbar {
    background-color: unset;

    .po-toolbar-title {
      color: #fff;
      font-family: unset;
      font-weight: 600;
    }
  }
}
