.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.video-bg {
 object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}